.container {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.board div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #e7e5e5;
  border: solid 2px #000;
  cursor: pointer;
  transition: 0.3s;
  font-size: 2rem;
}

.board div:hover {
  background-color: #f3f1f1;
}

.bg-winner {
  background-color: rgb(178, 224, 160) !important;
}